.box{
  height: 220px;
  text-align: center;
  margin: auto;
  padding: 20px;
}
button{
  height: 40px;
  width: 80px;
  font-size: medium;
}
.white{
  background-color: white;
}
.blue{
  background-color: rgb(47, 47, 248);
}
.green{
  background-color: green;
}
.purple{
  background-color: rgb(151, 39, 151);
}
.red{
  background-color: red;
}
.grey{
  background-color: grey;
}